/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import url(https://fonts.googleapis.com/css?family=Lato:400,300);

html {
	font-family: 'Lato', sans-serif;
}

body {
	padding-top: 4%;
}

a {
	color: rgb(38,38,38);
}

a:visited {
	color: rgb(38,38,38);
}

a:hover {
	color: rgb(133,133,133);
	background-color: transparent;
	text-decoration: none;
}

.navbar, .navbar-default, .navbar-fixed-top {
	box-shadow: 0 2px 13px rgba(0, 0, 0, 0.06);
	border: none;
}

.navbar, .navbar-default {
	background-color: rgba(255,255,255,0.99);
}

.navbar-default .navbar-nav > li > a {
    color: rgb(38,38,38);
}

.navbar-default .navbar-nav > li > a:hover {
    color: rgb(133,133,133);
    background-color: transparent;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus {
	color: rgb(38,38,38);
	background-color: transparent;
}

.navbar-default .navbar-nav > .active > a:hover {
	color: rgb(133,133,133);
	background-color: transparent;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	background-color: transparent;
}

.dropdown-menu > li > a:hover {
	color: rgb(133,133,133);
	background-color: transparent;
}

h1 {
	text-align: center;
	padding-bottom: 2%;
}

.panel {
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.02);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.02);
}

.panel-default {
	border: none;
	box-shadow: 0 0px 25px rgba(0, 0, 0, 0.08);
}

table.table.table-hover tr th {
	// border-bottom: 1px solid rgba(38,38,38,0.5);
}

table.table.table-hover tr td {
	// border-bottom: 1px solid rgba(38,38,38,0.5);
}

.table tbody>tr>td.vert-align{
    vertical-align: middle;
}

.table.table-hover tr td ul li {
	list-style-type: none;
	padding: 0 100% 0 0;
}

.table.table-hover tr:hover {
	background-color: rgba(0,0,0,0.02);
}

.table.table-hover thead tr:hover {
	background-color: transparent;
}





