// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#image {
	padding-bottom: 5%;
}

strong {
	color: rgb(38,38,38);
	font-size: 1.7em;
}

#price {
	color: rgb(133,133,133);
	font-size: 1.2em;
}
